@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-color: #1F2023;
    font-family: "Roboto", sans-serif;
   
    max-width: 100%;
    overflow-x: hidden;
    
  }



  h1{
    font-family: "Poppins", sans-serif;
    color: #E8EAED;
    text-align: center;
    border-top : 20px solid #4D6D63;
    border-left: 20px solid #1F2023;
    border-right: 20px solid #1F2023;
    border-bottom : 20px solid #4D6D63;
    padding: 5px 0px 5px 0px;
    font-size: 35px;
  }
  
 fieldset {

    background-color: #D6E2DE;
    margin-bottom: 20px;
    border-radius: 4.5px;
    

 }
  
  legend {

    background-color: #4D6D63;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    font-variant: small-caps;
    font-weight: 800;


  }

  

  .sexo_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    

  }

  .titulos {

    display: flex;
    flex-direction: column;
    align-items: center;



  }


  .campos {

    height: 35px;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left:11% ;
    margin-right: 11%; 
    border:#48655C;

    
  }

  #país {

    height: 41px;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left:12% ;
    margin-right: 12%; 


  }

  #descripción {

    height: 135px;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 0px;
    margin-top: 15px;
    margin-left:11% ;
    margin-right: 11%; 
    width: 77%;

  }
  
  .rosario_container {

    margin-bottom: 11px;
    margin-left: 4px;

  }

  .palermo_container {

    margin-bottom: 16px;
    margin-left: 4px;

  }

  .condiciones_novedades {

    color: #FFFFFF;

  }

  #campo_obligatorio {

    color: #FFFFFF;
  }

  

 button {

    background-color: #2B3D37;
    color: #87B3AF;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-color: #48655C;
    


  }

  .botones {

    
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .boton:hover {

    background-color:#D6E2DE;
    color: #2B3D37;
  }
 
  #boton_1 {

    margin-right: 8%;

  }

  #boton_2 {

    margin-left: 0%;

  }
   

  .d_p {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
    margin-top: 10px;
  }

  .d_c {

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
    margin-top: 10px;

  }
  
 .container {

    max-width: 800px;
    width:100%;

 }

 .separacion {

    color: #A6C1B9;
    font-size: 130px;
    margin-top: -4rem ;
    margin-bottom: 0rem ;
    text-align: center;
    letter-spacing: 4px;


 }

 #correo {

  margin-bottom: 20px;

 }
   
.campos:focus{

  background-color: #4D6D63;
  color:#FFFFFF;

}

#descripción:focus {

  background-color: #4D6D63;
  color: #FFFFFF;

}

legend:hover{

  background-color: #2B3D37;

}

fieldset:focus-within {


  background-color: #A6C1B9;
  
  

}


@media screen and (max-width:820px) {

  .container {
    max-width: 100%;
    padding: 20px;
  }

}
